$color-white: #fff;
$color-gray: #a3a3a3;
$color-dark-red: #b20000;
$color-dark-blue: #000099;

$primary-text-color: $color-white;
$primary-border-color: $color-white;
$secondary-text-color: $color-gray;
$secondary-border-color: $color-gray;
$temp-max: $color-dark-red;
$temp-min: $color-dark-blue;

$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@import '~bootstrap/scss/mixins';
@import 'mixins.scss';
@import 'layout.scss';
@import 'controls.scss';
@import 'component/weather';
@import 'component/weather-graphs';
@import 'component/weather-element';
@import 'component/weather-details';

